.about {
  padding-bottom: 2rem;

  &__bio-image {
    height: 50vh;
    width: 100%;
    background: 
    linear-gradient(
      to right,
      rgba($primary-color, 0.1),
      rgba($primary-color, 0.2)
    ),
    url('https://images.pexels.com/photos/556663/pexels-photo-556663.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    p {
      margin-bottom: 2rem;
    }
  }

  &__bio {
    width: 80%;
    text-align: center;

    .text-secondary {
      padding-bottom: 1rem;
    }
  }
}