@import './resets';
@import './variables';

body {
  background-color: $primary-color;
  color: $text-color;
  font-weight: map-get($font-weights, medium);
}

.main {
  width: 80%;
  margin: 0 auto;

  #{&}__paragraph {
    font-weight: map-get($font-weights, bold);

    &:hover {
      color: #a88786;
    }
  }
}